<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sociolinguistic survey</title>
    <style>
        nav {
            padding: 16px 0;
            background-color: #FFE8FF;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }
        nav ul li {
            display: inline-block;
            margin-left: 10px;
            text-transform: uppercase;
        }
        nav ul li:first-child {
            margin-left: 0px;
        }
    </style>
</head>
<nav>
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/form">Опрос</a></li>
      <li><a href="/stats">Статистика</a></li>
      <li><a href="/after">О чём опрос (заходите ПОСЛЕ прохождения)</a></li>
    </ul>
</nav>
<body>
    <div>
        <h1>Социолингвистический опрос</h1>
        <p>
            Это фейковая страничка, никакой статистики нет, я не сохранила ваши ответы :( (Женя весь срок валяла дурака и не разобралась а осталось 6 минут)
        </p>
        <img src="static/fin.jpg">
    </div>
</body>
</html>